{% extends 'base.html' %}

{% block title %}
    <div class="masthead-heading text-uppercase">Добро Пожаловать в Curriculum Vitae!</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'profile' %}">Создать резюме</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'myresumes' %}">Мои резюме</a>
{% endblock %}

{% block content %}
{% load static %}
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Услуги</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Онлайн-резюме</h4>
                <p class="text-muted">Теперь вы всегда можете делиться ссылкой на ваше резюме с вашими работодателями, которое всегда будет в онлайн режиме.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-file-word fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Резюме в форматах</h4>
                <p class="text-muted">С предоставленными вашими данными мы предлагаем несколько шаблонов для оформления вашего резюме в формате PDF или Word.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Надежность</h4>
                <p class="text-muted">Гарантированная надежность вашего аккаунта и ваших личных данных.</p>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'service' %}">Подробнее</a>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Шаблоны</h2>
            <h3 class="section-subheading text-muted">На данный момент в наличии имеется три онлайн и оффлайн шаблонов для резюме.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% static 'onlineresume/template1/index.html' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/template1.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Строгий</div>
                        <div class="portfolio-caption-subheading text-muted">Онлайн-резюме</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% static 'onlineresume/template2/resume/index.html' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/template2.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Минимал</div>
                        <div class="portfolio-caption-subheading text-muted">Онлайн-резюме</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% static 'onlineresume/template3/resumepage/index.html' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/template3.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Комплексный</div>
                        <div class="portfolio-caption-subheading text-muted">Онлайн-резюме</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link"  href="{% static 'assets/img/template11.png' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/template11.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Профессиональный</div>
                        <div class="portfolio-caption-subheading text-muted">Оффлайн резюме</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% static 'assets/img/template22.png' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/template22.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Креативный</div>
                        <div class="portfolio-caption-subheading text-muted">Оффлайн резюме</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% static 'assets/img/template33.png' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/template33.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Современный</div>
                        <div class="portfolio-caption-subheading text-muted">Оффлайн резюме</div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">О нас</h2>
            <h3 class="section-subheading text-muted">История нашего пути</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/111.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Январь 2020</h4>
                        <h4 class="subheading">Начало нашего создания</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Совместно с друзьями со школы и по совместительности единомышленниками мы открыли ЧП "Curriculum Viate" 
                        и начали распространять наши услуги в нашем городке с помощью сарафанного радио. Первые наши труды выполнялись исключительно бесплатно ради 
                        привлечения клиентов, чтобы показать качество и эффективность наших услуг.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/222.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Май 2021</h4>
                        <h4 class="subheading">Первая клиентская база</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Наши усердия принесли первые плоды и мы предложили наши услуги первым 1000 клиентам. 
                        Некоторые из них ползьовались нашими услугам неоднократно.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/333.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Ноябрь 2021</h4>
                        <h4 class="subheading">Расширение штаба и начало проекта по автоматизации наших услуг</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Мы расширили наш штаб до 20 человек, включая небольшую программу по найму студентов для подработки и тренировки навыков 
                        для будущего роста юных умов. Также наша команда начала создавать проект по автоматизации наших услуг с помощью создания сайта и дальнейшего развития данной сферы услуг.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/444.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Март 2022</h4>
                        <h4 class="subheading">Запуск сайта</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Мы запустили наш сайт и перевели всех наших старых клиентов на онлайн-обслуживание. Параллельно продолжили рассширять 
                        спектр услуг и оптимизацию сайта.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Будьте частью нашей истории!
                    </h4>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'aboutus' %}">Подробнее</a>
        </div>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Наша команда</h2>
            <h3 class="section-subheading text-muted">Основатели агентства</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/person-1.jpg' %}" alt="..." />
                    <h4>Абдулло Хожакматов</h4>
                    <p class="text-muted">Основатель, генеральный директор</p>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/3.jpg' %}" alt="..." />
                    <h4>Бибигон Бамбиев</h4>
                    <p class="text-muted">Основатель, технический директор</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/2.jpg' %}" alt="..." />
                    <h4>Тинатин Тарантинко</h4>
                    <p class="text-muted">Основатель, финансовый директор</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Свяжитесь с нами</h2>
            <h3 class="section-subheading text-muted">Наши люди ответят вам в течении суток</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Имя *"
                            data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Необходимо имя.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Электронная почта *"
                            data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">Необходима электронная
                            почта.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Электронная почта не
                            действительна.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Номер телефона *"
                            data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Необходим номер телефона.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Сообщение *"
                            data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Необходимо сообщение</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Отправлено!</div>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Ошибка в отправке сообщения!</div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled"
                    id="submitButton" type="submit">Отправить</button></div>
        </form>
    </div>
</section>


{% endblock %}